.flipIcon {
  transform: rotate(90deg);
}
.mobilePadding {
  width: 100%;
  height: 10vh;
  padding: 1% 3%;
}
.container{
    display: flex;
    flex-direction: row;
}
.logo{
    position: relative;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
.spaceBetween{
    width: 80%;
    justify-content: space-between;
    margin: 0 ;
}
.addRightBorder{
    justify-content: flex-end;
    /* border-right: 2px solid #ddd; */
    padding: 0 1%;
}
.pxSmall{
    padding: 0 7px;
}
.topNav{
    background-color: #353866;
    color: #f4f4f4;
    padding: .3% 0;
}
.centralize{
    justify-content: center;
    align-items: center;
}
.icon{
    color: #2ec4b6;
}
.mainNav{
    padding-top: 1%;
}


